# Virtual environment folders
.venv/
venv/
env/

# Python cache and compiled files
constance/
__pycache__/

# IDE-specific files
.vscode/

#api service account key
serviceAccountKey.json
token.json
cal_secrete.json